.social-custom{
  list-style-type: none;
  position: fixed;
  bottom: 13%;
  left: 4%;
  right: auto;
  z-index: 10;
}
.social-custom li img {
  height: 30px;
  margin: 10px;
}
.social-custom::after{
    content: "";
    display: block;
    width: 1px;
    height: 150px;
    margin: 0px auto;
    background-color: #0092ca;
}